.InvoiceStatus {
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 10px;
}
.flexFiller {
  flex-grow: 1;
}
.detail {
  padding: 3px 0;
}
.header {
  display: flex;
  align-items: center;
}
.headerTitle {
  margin-right: 15px;
}
.content {
  background-color: white;
  padding: 10px;
}
.title {
  display: inline-block;
  width: 150px;
  font-weight: 300;
}
.value {
  display: inline-block;
}
