@import "../style/variables.scss";

.InvoiceListHeader,
.Invoice {
  padding: 10px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}
.Invoice {
  background-color: white;
}
.cell {
  width: 16%;
}
a {
  text-decoration: none;
  color: $color-blue;
}
