@import "../style/variables.scss";

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none;
  color: $color-blue;
}
.name {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  font-size: 12px;
}
.picture {
  vertical-align: middle;
  max-height: 30px;
  max-width: 30px;
  border-radius: 15px;
  margin-left: 10px;
}
