@import "../style/variables.scss";

.Status {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  vertical-align: middle;
  margin-left: 15px;
  &:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    content: "";
    top: 2px;
    left: -15px;
    background-color: $color-green;
  }
}
.dispute {
  &:after {
    background-color: $color-purple;
  }
}
.overdue {
  &:after {
    background-color: $color-orange;
  }
}
.due {
  &:after {
    background-color: $color-blue;
  }
}
